@{
    ViewBag.Title = "ListarPostsJson2";
}

<h2>ListarPostsJson2</h2>


<div ng-controller="TableControllerJS">
    <table>
        <tr>
            <td>Nombre</td>
            <td>{{Contact.NombreUsuario}}</td>            
        </tr>
    </table>
</div>

@section scripts{
<script src="~/Scripts/Angular/Table/TableControllerJS.js"></script>
}

